= form_for @playlist do |f|
  .hero
    .hero-inner
      .hero-logo
        %input#photo{ type: 'file', name: 'photo[]' }
        %img{:alt => "", :src => "https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_1.png\r\n"}/
      .hero-copy

      = f.text_field :title, placeholder: 'Name Playlist'

      .progress-bar
        %span.prompt Drag track here
        %input#audio{ type: 'file', name: 'files[]' }
        %span.meter{ style: 'width:60%' }

      = f.submit 'Broadcast'

  = f.hidden_field :photo_url
  = f.hidden_field :audio_url

:javascript
  $(function() {
    $('#photo').on('drop', function(e) {
      var fr = new FileReader();
      fr.onload = function(e) {
        $('.hero').
          css('background', 'url(' + e.target.result + ')').
          css('background-size', 'cover');
      };
      fr.readAsDataURL(e.originalEvent.dataTransfer.files[0]);
    });

    $('#audio').on('drop', function(e) {
      $('.progress-bar .prompt').html('Ready');
    });

    var progress_meter = $('.meter');
    //progress_meter.hide();

    //document.getElementById("uploadPreview").src = oFREvent.target.result;
    var finalize = function(form) {
      if ( !$('#playlist_photo_url').val() || !$('#playlist_audio_url').val() ) return;
      form.submit();
    };

    $('form').submit(function(e) {
      e.preventDefault();

      var that = this;
      var file_name = $('#playlist_title').val();

      progress_meter.show();

      // Upload the audio
      var audio_upload = audio_upload != null ? audio_upload : new S3Upload({
        s3_object_name: file_name,
        file_dom_selector: 'audio',
        s3_sign_put_url: '/playlists/sign',
        onFinishS3Put: function(public_url) {
          $('#playlist_audio_url').val(public_url);
          finalize(that);
        },
        onError: function(status) { alert('Upload error: ', status); },
        onProgress: function(percent, status) {
          progress_meter.css('width', percent);
        }
      });

      // Upload the cover photo
      var photo_upload = photo_upload != null ? photo_upload : new S3Upload({
        s3_object_name: file_name + '-cover',
        file_dom_selector: 'photo',
        s3_sign_put_url: '/playlists/sign',
        onFinishS3Put: function(public_url) {
          $('#playlist_photo_url').val(public_url);
          finalize(that);
        },
        onError: function(status) { alert('Upload error: ', status); }
      });

      return false;
    });
  });
