!!!
%html
  %head
    %title Soul Circuits
    = stylesheet_link_tag "//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css"
    = stylesheet_link_tag 'application', media: 'all'

    = javascript_include_tag "//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"
    = javascript_include_tag 'application'

    = csrf_meta_tags

  %body
    .container
      - if current_user
        .user-bar
          = link_to destroy_user_session_path, method: :delete do
            %img{ src: current_user.photo_url }

    .container
      = yield
